absl-py==0.10.0
aiohttp==3.6.2
alabaster==0.7.12
alembic==1.4.1
anyconfig==0.9.11
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.15.8
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
babel==2.8.0
backcall==0.2.0
backports==1
backports.functools_lru_cache==1.6.1
binaryornot==0.4.4
black==19.10b0
blas==1
bleach==3.1.5
boost-cpp==1.74.0
brotlipy==0.7.0
bzip2==1.0.8
ca-certificates==2020.6.20
cachetools==4.1.1
cairo==1.16.0
cartopy==0.18.0
certifi==2020.6.20
cffi==1.14.2
cfitsio==3.47
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.3
colorlover==0.3.0
commonmark==0.9.1
confuse==1.3.0
cookiecutter==1.6.0
coverage==5.2.1
cryptography==3.1.1
cufflinks-py==0.17.3
curl==7.71.1
cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
eia-python==1.22
entrypoints==0.3
expat==2.2.9
fiona==1.8.17
flake8==3.8.3
freetype==2.10.2
freexl==1.0.5
fsspec==0.6.3
future==0.18.2
gast==0.3.3
gdal==3.1.2
geopandas==0.8.1
geos==3.8.1
geotiff==1.6.0
gettext==0.19.8.1
glib==2.66.1
google-auth==1.22.0
google-auth-oauthlib==0.4.1
hdf4==4.2.13
hdf5==1.10.6
htmlmin==0.1.12
icc_rt==2019.0.0
icu==67.1
idna==2.1
imagehash==4.1.0
imagesize==1.2.0
importlib-metadata==1.7.0
importlib_metadata==2.0.0
importlib_resources==3.0.0
iniconfig==1.0.1
intel-openmp==2019.4
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipython_genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.2
jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.17.0
jpeg==9d
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.5
jupyter-console==6.1.0
jupyter_client==5.3.4
jupyter_core==4.6.3
jupyterlab==0.31.1
jupyterlab-launcher==0.10.5
kaleido==0.0.3.post1
kealib==1.4.13
kedro==0.16.2
kedro-mlflow==0.2.1
kedro-pandas-profiling==0.1.0
kedro-viz==3.5.1
keras-preprocessing==1.1.2
kiwisolver==1.2.0
krb5==1.17.1
libblas==3.8.0
libcblas==3.8.0
libclang==10.0.1
libcurl==7.71.1
libffi==3.2.1
libgdal==3.1.2
libiconv==1.16
libkml==1.3.0
liblapack==3.8.0
libnetcdf==4.7.4
libpng==1.6.37
libpq==12.3
libsodium==1.0.17
libspatialite==4.3.0a
libssh2==1.9.0
libtiff==4.1.0
libwebp-base==1.1.0
libxml2==2.9.10
llvmlite==0.34.0
lz4-c==1.9.2
m2w64-expat==2.1.1
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gettext==0.19.7
m2w64-gmp==6.1.0
m2w64-libiconv==1.14
m2w64-libwinpthread-git==5.0.0.4634.697f757
m2w64-xz==5.2.2
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.3.2
matplotlib-base==3.3.2
mccabe==0.6.1
metpy==0.12.2
missingno==0.4.2
mistune==0.8.4
mkl==2019.4
mkl-service==2.3.0
mlflow==1.11.0
more-itertools==8.4.0
msys2-conda-epoch==20160418
multidict==4.7.6
munch==2.5.0
mypy_extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
nbstripout==0.3.3
networkx==2.5
notebook==6.1.3
numba==0.51.2
numpy==1.18.5
olefile==0.46
openjpeg==2.3.1
openoa==2.0.0
openssl==1.1.1h
opt-einsum==3.3.0
owslib==0.20.0
packaging==20.4
pandas==1.1.2
pandas-profiling==2.9.0
pandoc==2.10.1
pandocfilters==1.4.2
parso==0.7.1
pathspec==0.8.0
patsy==0.5.1
pcre==8.44
phik==0.10.0
pickleshare==0.7.5
pillow==7.2.0
pint==0.16.1
pip==20.2.3
pip-tools==5.3.1
pixman==0.38.0
plotly==4.11.0
pluggy==0.13.1
pooch==1.2.0
poppler==0.89.0
poppler-data==0.4.9
postgresql==12.3
poyo==0.5.0
progressbar2==3.53.1
proj==7.1.0
prometheus_client==0.8.0
prompt-toolkit==3.0.6
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.2
pyepsg==0.4.0
pyflakes==2.2.0
pygam==0.8.0
pygments==2.6.1
pyopenssl==19.1.0
pyparsing==2.4.7
pyproj==2.6.1.post1
pyqt==5.12.3
pyqt5-sip==4.19.18
pyqtwebengine==5.12.1
pyrsistent==0.17.3
pyshp==2.1.2
pysocks==1.7.1
pytest==6.1.1
pytest-runner==5.2
python==3.7.8
python-cufflinks==0.17.3
python-dateutil==2.8.1
python-json-logger==0.1.11
python-utils==2.4.0
python_abi==3.7
pytz==2020.1
pywavelets==1.1.1
pywin32==227
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.2
qt==5.12.6
qtconsole==4.7.6
qtpy==1.9.0
recommonmark==0.6.0
regex==2020.7.14
requests==2.24.0
retrying==1.3.3
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
seaborn-base==0.11.0
semver==2.10.2
send2trash==1.5.0
setuptools==49.6.0
shapely==1.7.1
six==1.15.0
sklearn-contrib-py-earth==0.1.0
snowballstemmer==2.0.0
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlite==3.33.0
statsmodels==0.12.0
tangled-up-in-unicode==0.0.6
tbb==2020.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tiledb==2.0.8
tk==8.6.10
toml==0.10.1
toposort==1.5
tornado==6.0.4
tqdm==4.50.0
traitlets==4.3.3
typed-ast==1.4.1
typing_extensions==3.7.4.2
urllib3==1.25.10
vc==14.1
visions==0.5.0
vs2015_runtime==14.16.27012
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.35.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
win_inet_pton==1.1.0
wincertstore==0.2
winpty==0.4.3
xarray==0.16.1
xerces-c==3.2.3
xz==5.2.5
yaml==0.2.5
yarl==1.6.0
yellowbrick==1.1
zeromq==4.3.2
zipp==3.1.0
zlib==1.2.11
zstd==1.4.5
